.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 1650px;
  height: 55px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  /* border-radius: 4px; */
}

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
  padding: 7px 7px 7px 7px;
}

.link:hover {
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}

.active {
  color: red;
}
